header {
  height: 400px;
  width: 100%;
  color: #627264;
  background-color: #effffa;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.user-name h2 {
  margin: 0;
}

.user-avatar img {
  height: 100px;
  width: auto;
}


