.user-header {
  height: 350px;
  width: 100%;
  background-color: #ffb100;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-left: 0%;
  
}
.user-name h2 {
  margin: 0;
  color: white
}

/* .user-avatar {
  margin-top: 125px;
} */

.user-avatar img {
  height: 200px;
  width: auto;
}

@media (min-width: 1024px){
  .user-header{
  width: 30%;
  min-width: 25%;
  margin-top: 20px;
  margin-left: 5%;
    
  }
}
