header {
  height: 400px;
  width: 100%;
  color: #627264;
  background-color: #effffa;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.user-name {
  position: absolute;
  z-index: 2;
  align-self:flex-end;
  margin-bottom: 50px;
}

#avatar {
  height: 145px;
  width: auto;
}


