nav {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-items {
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin-right: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav-new-tweet{
  color: #FFB100;
}

.nav-new-tweet:hover {
  color: #FFFF
}

.fa-angles-down {
  color: #FFFF;
  -webkit-transition: color ease-in-out 200ms;
  -o-transition: color ease-in-out 200ms;
  -ms-transition: color ease-in-out 200ms;
  -moz-transition: color ease-in-out 200ms;
  transition: color ease-in-out 200ms;
}

.nav-new-tweet:hover .fa-angles-down {
  color: #FFB100;
}

#logo {
  display: flex;
  align-items:flex-end;
  margin: 1em 1.5em;
  font-family: 'Bungee', cursive;
}

#new-tweet{
  margin-bottom: 0;
  -webkit-transition: color ease-in-out 200ms;
  -o-transition: color ease-in-out 200ms;
  -ms-transition: color ease-in-out 200ms;
  -moz-transition: color ease-in-out 200ms;
  transition: color ease-in-out 200ms;
}

@media (max-width: 1024px){
  nav {
    background-color: transparent;
  }
  .nav-new-tweet:hover .fa-angles-down {
    color: #4056A1;
  }
  .nav-new-tweet{
    color: #4056A1;
  } 
}

