nav {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-items {
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin-right: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: #4056A1;
  border: none;
}

.fa-angles-down {
  color: #FFB100
}

#logo {
  display: flex;
  align-items:flex-end;
  margin: 1em 1.5em;
  font-family: 'Bungee', cursive;
}

#new-tweet{
  margin-bottom: 0
}

