.new-tweet {
  margin: 35px 0px;
}
.tweet-input {
  display: flex;
  border-bottom: 3px solid #000000;
  padding-bottom: 10px;
  flex-direction: column;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin-top: 10px;
}

.danger {
  color: red
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
}

textarea {
  background-color: #f4f1ec;
  border: none;
  height: 60px;
  resize: none;
}
